{{define "adventurer"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/adventurer.css">
    <title>Goh-Lanta--Fiche Aventurier</title>
</head>

<body>
    <div class="header">
        <header>
            <div class="button">
                <a href="/add">Créer un aventurier</a>
            </div>
            <div class="button">
                <a href="/display">Voir les aventurier déjà créer</a>
            </div>
        </header>
    </div>
    <div class="adventurer">
        {{range .}}
        <div class="article">
            <div class="artocle">
                <div class="article-text">
                    <h1 class="article-title">{{.Name}}</h1>
                    <div class="cat-art">{{.Team}}</div>
                </div>
            </div>
        </div>
        <form action="/updatepage" method="post">
            <button class="suppr-art-btn" value="{{.Id}}" name="Update" id="Update" type="submit">Modifier</button>
        </form>
        <form action="/remove" method="post">
            <button class="suppr-art-btn" value="{{.Id}}" name="Suppr" id="Suppr" type="submit">Supprimer</button>
        </form>
        {{end}}
    </div>
</body>

</html>
{{end}}