{{define "updatepage"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/update.css">
    <title>Goh-Lanta--Modifier votre Aventurier</title>
</head>

<body>
    <div class="header">
        <header>
            <div class="button">
                <a href="/add">Créer un aventurier</a>
            </div>
            <div class="button">
                <a href="/display">Voir les aventurier déjà créer</a>
            </div>
        </header>
    </div>
    <div class="mainupdate">
        {{range .}}
        <div class="content">
            <div class="main">
                <form class="form" action="/update?type={{.Id}}" method="post" enctype="multipart/form-data">
                    <div class="name">
                        <div class="previousname">
                            <label for="name">Nom actuel: {{.Name}}</label>
                        </div>
                        <div class="updatename">
                            <input class="form-txt" type="text" name="name" placeholder="Nouveau nom" />
                        </div>
                    </div>
                    <div class="team">
                        <div class="previousteam">
                            <label for="team">Equipe actuelle: {{.Team}}</label>
                        </div>
                        <div class="updateteam">
                            <select class="form-txt" name="team">
                                <option value="">--Choisissez une nouvelle équipe--</option>
                                <option value="rouge">Rouge</option>
                                <option value="bleu">Bleu</option>
                                <option value="jaune">Jaune</option>
                                <option value="verte">Verte</option>
                            </select>
                        </div>
                    </div>
                    <div class="preview">
                        <div class="previouspreview">
                            <label for="preview">{{.Preview}}</label>
                        </div>
                        <div class="updatepreview">
                            <input class="form-txt" type="text" name="preview" placeholder="Nouvelle intro" />
                        </div>
                    </div>
                    <div class="content">
                        <div class="previouscontent"> <label for="content">{{.Content}}</label></div>
                        <div class="updatecontent"> <input class="form-txt-ctn" type="text" name="content"
                                placeholder="Nouveau contenu de fiche" /></div>
                    </div>
                    <div class="submitbutton"> <input class="form-submit" type="submit" value="Update !!" /></div>



                </form>
            </div>
        </div>
        {{end}}
    </div>




</body>

</html>
{{end}}