{{define "updatepage"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>

<body>
    <a href="/add">Créer un aventurier</a>
    <a href="/display">Aventurier présent dans l'aventure</a>

    Ici page de l'aventurier selectionné
    {{range .}}
    {{.}}
    <div class="content">
        <div class="main">
            <form class="form" action="/update?type={{.Id}}" method="post" enctype="multipart/form-data">
                <label for="name">{{.Name}}</label>
                <input class="form-txt" type="text" name="name" placeholder="Nouveau nom" />
                <label for="team">{{.Team}}</label>
                <input class="form-txt" type="text" name="Team" placeholder="Nouvelle équipe" />
                <label for="preview">{{.Preview}}</label>
                <input class="form-txt" type="text" name="preview" placeholder="Nouvelle intro" />
                <label for="content">{{.Content}}</label>
                <input class="form-txt-ctn" type="text" name="content" placeholder="Nouveau contenu de fiche" />
                <input class="form-submit" type="submit" value="Update !!" />
            </form>
        </div>
    </div>
    {{end}}




</body>

</html>
{{end}}