*{
   text-decoration:none;
}



body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url("../img/cover.jpg");
    background-size:cover;
}

.error-404{
    flex-direction: column;
    padding: 20px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.code{
    font-size: 4em;
}
.error-message{
    font-size: 2em;
}